---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
    {% assign k = page.name | remove: ".md" %}
    {% assign p = category[0] | downcase %}
    {% assign k = k | downcase %}
    {% assign p = p | replace: " ", "-" %}
    {% assign k = k | replace: " ", "-" %}

    {% if k == p %}
            <div class="entries-{{ entries_layout }}">
            {% for post in category.last %}
                {% include archive-single.html type=entries_layout %}
            {% endfor %}
            </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
